<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="stile/stile.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boolzapp</title>
</head>

<body>

    <div id="webApp">
        <div class="rectangle">
            <div class="containerApp">
                <div class="leftApp">
                    <div class="user">
                        <div class="userContainer">
                            <img class="avatar" src="img/avatar_1.jpg" alt="">
                            <span>username</span>
                        </div>
                        <div class="funControl">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="blueNote">
                        <i class="fa-solid fa-bell-slash camp"></i>
                        <div>
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <div class="search">
                        <button class="sebtn" type="button"> <i class="fa-solid fa-magnifying-glass"></i></button>
                        <input class="sebtn sein" type="text" placeholder="Cerca o inizia nuova chat" v-model="inpSearch">
                    </div>

                    <!-- lista amici -->

                    <div class="friends">
                        <template v-for="(el, index) in boolzappList" >
                            <div v-if="el.user.includes(inpSearch)" class="friend" @click="cange(index)" >
                                <img class="avatar" :src="boolzappList[index].avatar" alt="">
                                <div class="text">
                                    <span>{{el.user}}</span>
                                    <p class="ttxx"> ultimo messaggio alle ore  </p>
                                </div>
                                <span class="time"> {{el.uTime}} </span>
                            </div>
                        </template>
                    </div>
                </div>


                <div class="rightApp">

                    <!-- con chi stai parlando -->
                    <div class="user"  >
                        <img class="avatar" :src="boolzappList[userFocus].avatar" alt="">
                        <div class="text">
                            <span>{{boolzappList[userFocus].user}}</span>
                            <p class="ttxx"> ultimo messaggio alle ore {{el.message[message.length-1].hours}}</p>
                        </div>
                    </div>


                    <!-- la chat -->
                    <div class="chat" >
                        <div v-for="(el, index) in boolzappList[userFocus].message">
                            <div class="message" :class=" el.textOf" >
                                <i class="fa-solid fa-angle-down special-alngle " v-if="el.menu == true" @click="openMenu(el)"></i>
                                <i class="fa-solid fa-angle-up special-alngle " v-if="el.menu == false" @click="openMenu(el)"></i>
                                <span>{{el.content}}</span>
                                <div class="timeOfMessage" >{{el.hours}}</div>

                                <div class="messageFunction" v-if="el.menu == false">

                                    <div class="mFdivisor" > 
                                        <span> info messagio</span>
                                    </div>
                                    <div class="mFdivisor" >
                                        <button class="mFBTN" type="button" @click="deletetMessage(el)"> elimina messaggio </button>
                                    </div>
                                </div>
                            </div> 
                        </div>

                    </div>
                    <div class="chatText">
                        <i class="fa-regular fa-face-smile"></i>
                        <input :id="textToText" v-model="textToText" type="text" @keyup.enter="textMessage(userFocus)"   >
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
    <script src="https://kit.fontawesome.com/ca36ef870f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="stile/script.js"></script>
</body>

</html>