*{
    box-sizing: border-box;
    margin: 0;
}

#webApp {
    height: 100vh;
    width: 100vw;
    background-color: #dadbd4;
}

.rectangle{
    background-color: #009688;
    height: 10rem;
    padding-top: 1rem;
}

.containerApp {
    width: 90%;
    height: 95vh;
    margin-left: 5% ;
    background-color: white;
    display: flex;
    overflow: hidden;
    border-left: 1px solid lightgray;
}

.leftApp {
    width: 40%;
    height: 100%;
}

.rightApp {
    width: 60%;
    height: 100%;
}

.user {
    height: 4rem;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #d6d6d6;
}

.blueNote {
    height: 4rem;
    background-color:#8edafc ;
    display: flex;
    align-items: center;
}

.search {
    height: 2rem;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
}

.friends {
    height: 80%;
    overflow-y: scroll;
}

.chat{
    height: 80%;
    background-image: url(../img/mine.jpg);
    background-size: contain;
    overflow-y: scroll;
}

.chatText {
    background-color: #f3eeea;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.friend {
    height: 4rem;
    border-bottom: 1px solid #f3eeea;
    display: flex;
    align-items: center;
    width: 100%;
}

.friend:hover {
    background-color: #e9ebeb;
}

.message{
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 10rem;
    max-width: 17rem;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 1rem;
    position: relative;
}

.userMessage {
    margin-left: 50%;
    background-color:#d5f9ba ;
}

.friendMessage {
    margin-left: 5%;
    margin-right: 50%;
    background-color:#ffffff ;
}

.avatar {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
}

.userContainer {
    display: flex;
    align-items: center;
}

.funControl {
    display: flex;
    align-items: center;
}

.funControl *{
    width: 1.5rem;
    color: #b1b1b1;
}

.text {
    margin-left: 1rem;
    width: 100%;
}

.camp {
    margin-left: 1rem;
    font-size:  2rem;
    width: 3rem;
    height: 3rem;
    background-color: #f2fbff;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    padding-top: 0.5rem;
    color: #8edafc;

}

a {
    color: #5d74a4;
}

.ttxx{
    color:#b6b9bb;
}

.time {
    align-self: flex-start;
    color: #b6b9bb;
    position: relative;
    justify-self: end;
}

.sebtn {
    margin-right: 0;
    margin-left: 1rem;
    margin-top: 5px;
    background-color: #ffffff;
    width: 2rem;
    border:transparent;
}

.sein {
    margin-left: 0;
    margin-right: 10px;
    width: 100%;
}

.timeOfMessage {
    color: lightgrey;
    text-align: end;
    font-size: 0.5rem;
    padding-right: 10px;
}

.special-alngle {
    position: absolute;
    right:10px;
    z-index: 3;
    padding: 0.2rem;
}

.messageFunction {
    background-color: white;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 25px;
}

.mFdivisor {
    height: 2rem;
    border: 1px solid black;
    width: 10rem;
    text-align: center;

}

.mFBTN {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
}

.mFdivisor:hover {
    background-color: lightgray;
}

.airplane{
    width: 250px;
}