*{
    box-sizing: border-box;
    margin: 0;
}

.webApp {
    height: 100vh;
    width: 100vw;
    background-color: #dadbd4;
}

.rectangle{
    background-color: #009688;
    height: 10rem;
    padding-top: 1rem;
}

.containerApp {
    width: 90%;
    height: 95vh;
    margin-left: 5% ;
    background-color: white;
    display: flex;
    overflow: hidden;
}

.leftApp {
    width: 40%;
    height: 100%;
    border: 1px solid black
}

.rightApp {
    width: 60%;
    height: 100%;
    border: 1px solid black;
}

.user {
    height: 3rem;
    background-color: #eaeaea;
}

.blueNote {
    height: 4rem;
    background-color:#8edafc ;
}

.search {
    height: 2rem;
    background-color: #eaeaea;
}

.friends {
    height: 80%;
    overflow-y: scroll;
}

.chat{
    height: 82%;
    background-image: url(../img/mine.jpg);
    background-size: contain;
    overflow-y: scroll;
}

.chatText {
    background-color: #f3eeea;
    height: 3rem;

}

.friend {
    height: 4rem;
    border-bottom: 1px solid #f3eeea;
}

.friend:hover {
    background-color: #e9ebeb;
}

.userMessage {
    min-width: 7rem;
    max-width: 17rem;
    padding-left: 1rem;
    margin-left: 50%;
    background-color:#d5f9ba ;
    border-radius: 10px;
}

.friendMessage {
    min-width: 7rem;
    max-width: 17rem;
    margin-left: 3rem;
    background-color:#ffffff ;
    border-radius: 10px;
}